*{
	margin: 0;
	padding: 0;
	list-style:none;
}
.wrap{
	width: 100%;
	height: auto;
}
.mui-scroll{
	width: 100%;
	 ul {
        width: 100%;

        li {
            width: 100%;
            height: 100px;
            display: flex;
            margin-top: 10px;

            .box {
                width: 70%;

                p {
                    font-size: 12px;
                }
            }

            .img {
                width: 30%;


                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}